* {
    margin: 0;
    padding: 0;
}
html,
body {
    background-color: #1c1c1c;
    overflow: hidden;
}

.container {
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

button {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    font-size: 35px;
    margin: 3px;
    border: none;
}
.Zero {
    border-radius: 50px;
    flex-grow: 2;
    text-align: left;
    padding: 0 40px;
}
.operator {
    background-color: #ff9500;
    color: white;
}
.commands {
    background-color: #d4d4d2;
}
.operands {
    background-color: #505050;
    color: white;
}
.result {
    width: 100dvw;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 3rem;
    padding-right: 10px;
}